* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: #002;
  color: white;
  text-align: center;
  height: 60px;
  line-height: 2em;
}

.choice {
  height: 165px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  opacity: 0.5;
  cursor: pointer;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-top: 5rem;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 5rem;
  column-gap: 5rem;
}

#user-score #comp-score {
  font-size: 4rem;
}

.msg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
}

#msg {
  background-color: #002;
  color: white;
  text-align: center;
  padding: 20px;
  width: fit-content;
  border-radius: 20px;
  font-size: 2rem;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score p:first-child {
  font-size: 4rem;
}

.cs {
  display: inline-flex;
}
